In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bi_challenge_rd_bi_funnel_email.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df.head()

,id,email,created_month,created_date,lead_created_month,lead_created_date,mql_created_month,mql_created_date,sal_created_month,sal_created_date,first_touch_date,last_touch_date,account_first_touch,account_last_touch,channel_first_touch,channel_last_touch,campaign_first_touch,campaign_last_touch,identifier_first_touch,identifier_last_touch,icp_score,lead_channel,lead_type,country,is_new_lead,converted_to_mql,is_blank_mql,converted_to_sal,is_a,is_b,is_c,is_d,is_abc
0,6dc60743324c1cf3b1a7e885a342584e,a420a5f6b1e671ad2c1b81f5a81c588c,2018-11-01,2018-11-14 15:36:03,2018-11-01,2018-11-14 15:36:03,2018-11-01,2018-11-14 15:36:03,NaN,NaN,2018-10-31 18:48:01,2018-11-14 15:36:03,Brasil,Brasil,(Other),Email,NaN,b69efb8e9f6874bf6df766d8ee6c1569,bf5651e7878fbd915fc91b2e52b58d01,db888501832798d5c37fe2b5286f1ccb,B,Inbound,MQL,BR,0,1,0,0,0,1,0,0,1
1,303e7afd55b9c83671832e8727f803de,ef5dee33403c15cc26af267d290bf93c,2018-11-01,2018-11-20 10:32:01,2018-11-01,2018-11-20 10:32:01,2018-11-01,2018-11-20 10:32:01,NaN,NaN,2018-11-20 10:32:01,2018-11-20 10:32:01,Brasil,Brasil,Email,Email,51f99c710d4486963dad6ef7411884a6,51f99c710d4486963dad6ef7411884a6,2324dd747554bb7f8ac53cb91842976c,2324dd747554bb7f8ac53cb91842976c,B,Inbound,MQL,BR,1,1,0,0,0,1,0,0,1
2,2e1f2e19c14df0869fe232b2e93384dd,48d6dcee60fe6677c55e1e4de904a278,2018-12-01,2018-12-06 15:14:59,2018-12-01,2018-12-06 15:14:59,NaN,NaN,NaN,NaN,2018-12-06 15:14:59,2018-12-06 15:14:59,Brasil,Brasil,Email,Email,c3635dec9f630b293dee199a0e70e814,c3635dec9f630b293dee199a0e70e814,9e200b1294b13d0d7d0eea37030b68f3,9e200b1294b13d0d7d0eea37030b68f3,D,Inbound,MQL,BR,1,0,0,0,0,0,0,1,0
3,1f2525d8ae56b4e160ecd810ee7240d2,cddd941ca5822851786800bad19d7b7f,2018-11-01,2018-11-07 02:57:19,2018-11-01,2018-11-07 02:57:19,NaN,NaN,NaN,NaN,2018-10-25 02:51:20,2018-11-07 02:57:19,Brasil,Brasil,Referral,Email,e3783648451a21a66da49448e78d2b51,545ce2e74ea8772b25a96364f7988803,e0de006b1096ccd756f1dac3490bd43f,afba56f67eaa6decc3c358ec2fc46e90,D,Inbound,MQL,IL,0,0,0,0,0,0,0,1,0
4,5e61d3bddf2897611558b54f215d59bf,ebdb6f0f3921582d0e0f10d3936a2f85,2018-11-01,2018-11-22 15:35:01,2018-11-01,2018-11-22 15:35:01,NaN,NaN,NaN,NaN,2018-11-22 15:35:01,2018-11-22 15:35:01,Latam,Latam,Email,Email,73ae4aa441cfa77bb7139f6f6adf8af2,73ae4aa441cfa77bb7139f6f6adf8af2,a29fa0accef2c75e169947f31c37873b,a29fa0accef2c75e169947f31c37873b,D,Partner,MQL,MX,1,0,0,0,0,0,0,1,0

In [5]:
df.count()

id                        22933
email                     22933
created_month             22933
created_date              22933
lead_created_month        22933
lead_created_date         22933
mql_created_month          3520
mql_created_date           3437
sal_created_month          1155
sal_created_date           1119
first_touch_date          22933
last_touch_date           22933
account_first_touch       22933
account_last_touch        22933
channel_first_touch       22933
channel_last_touch        22933
campaign_first_touch      20384
campaign_last_touch       22493
identifier_first_touch    22933
identifier_last_touch     22933
icp_score                 22933
lead_channel              22933
lead_type                 22933
country                   22932
is_new_lead               22933
converted_to_mql          22933
is_blank_mql              22933
converted_to_sal          22933
is_a                      22933
is_b                      22933
is_c                      22933
is_d                      22933
is_abc                    22933
dtype: int64

In [6]:
df.describe(include='all')

,id,email,created_month,created_date,lead_created_month,lead_created_date,mql_created_month,mql_created_date,sal_created_month,sal_created_date,first_touch_date,last_touch_date,account_first_touch,account_last_touch,channel_first_touch,channel_last_touch,campaign_first_touch,campaign_last_touch,identifier_first_touch,identifier_last_touch,icp_score,lead_channel,lead_type,country,is_new_lead,converted_to_mql,is_blank_mql,converted_to_sal,is_a,is_b,is_c,is_d,is_abc
count,22933,22933,22933,22933,22933,22933,3520,3437,1155,1119,22933,22933,22933,22933,22933,22933,20384,22493,22933,22933,22933,22933,22933,22932,22933.000000,22933.000000,22933.000000,22933.000000,22933.000000,22933.000000,22933.000000,22933.000000,22933.000000
unique,22933,21240,2,22451,2,22451,2,3387,2,1119,21022,21237,6,4,9,1,1189,1002,899,508,4,2,4,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,22583be1292e686dae6f6aac53e2788d,9e881550b7e266d2c37b40952b884490,2018-11-01,2018-11-06 14:34:24,2018-11-01,2018-11-06 14:34:24,2018-11-01,2018-11-28 13:39:13,2018-11-01,2018-12-07 13:23:06,2018-11-20 10:00:46,2018-12-15 00:00:00,Brasil,Brasil,Email,Email,2cc330c0ed7f3d7da500507c353c4cf0,b0ddd03bba9cffaa95a409e11d17d942,2324dd747554bb7f8ac53cb91842976c,2324dd747554bb7f8ac53cb91842976c,D,Inbound,MQL,BR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,2,13398,6,13398,6,2043,14,695,1,4,1272,14464,13736,13762,22933,1483,766,1107,1767,12762,17401,22661,15642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.559151,0.153491,0.000392,0.050844,0.118476,0.193956,0.131077,0.556491,0.443509
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.496500,0.360468,0.019807,0.219683,0.323177,0.395404,0.337492,0.496809,0.496809
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df.created_month.value_counts()

2018-11-01    13398
2018-12-01     9535
Name: created_month, dtype: int64

In [8]:
df.lead_created_month.value_counts()

2018-11-01    13398
2018-12-01     9535
Name: lead_created_month, dtype: int64

In [9]:
df.mql_created_month.value_counts()

2018-11-01    2043
2018-12-01    1477
Name: mql_created_month, dtype: int64

In [10]:
df.sal_created_month.value_counts()

2018-11-01    695
2018-12-01    460
Name: sal_created_month, dtype: int64

In [11]:
df.account_first_touch.value_counts()

Brasil       14464
Latam         5774
Partners      2340
Portugal       319
Spain           35
Worldwide        1
Name: account_first_touch, dtype: int64

In [12]:
df.account_last_touch.value_counts()

Brasil      13736
Latam        5845
Partners     3018
Portugal      334
Name: account_last_touch, dtype: int64

In [13]:
df.channel_first_touch.value_counts()

Email             13762
Paid Search        3082
Organic Search     1501
Direct             1484
Unknown            1047
Referral            829
(Other)             758
Social              468
Display               2
Name: channel_first_touch, dtype: int64

In [14]:
df.channel_last_touch.value_counts()

Email    22933
Name: channel_last_touch, dtype: int64

In [15]:
df.identifier_first_touch.value_counts()

2324dd747554bb7f8ac53cb91842976c    1107
84e9fb9e65e3e3fe6b56412df0f51279     782
9f5c22907685035ec9b4cbe80e9a89e0     757
9e200b1294b13d0d7d0eea37030b68f3     713
c8de5cdf6dd0affa9ff766aef54d61a5     618
643571e919832046a3c33167660191f2     526
a0e6dab88c1af71ef5f321e207bfd6d5     484
d30f2e8cecc1498b3466860a9b7e05c7     425
a6a62db21af6c8a915976e238bb6d227     421
bf5af30b7afd3276ebddac6df51b0e5c     355
b6d53f55ec9cf7c8d05966195488e7ef     346
001a9de20472b57900f1ba26569e506d     339
414a357b38b8e181ed557d328417a52c     334
40c2d2269db7f7993a68c0cd4e87f385     328
4cf674ecdc70fb035b775e815c4db5f9     320
ddc0f3cdfc488fa0a6f6bd02291eb443     320
20617c34c561a1112e31f1399356bc7a     301
26e8d2b82e436c98f02f9a378ed6ee12     290
331e7316df37a1bf038cc0907ee1b7e2     286
afba56f67eaa6decc3c358ec2fc46e90     273
4f08880d2b4f4c4bf848c6c2c0b4c8f6     264
ea5e2573bfff9713710cff080b805412     255
4e84dc61c1acaf32af94a7c3f3612e43     250
2ea6267257971060ef4b95c43d4a6138     249
974f05a1d1a3daec31e4436127f987ab     248
cc30d8c58832f7020f7a753d940855d0     244
f8cb4fbb2ad1e566251ff28a98615a5a     237
087cb68478b8fb7d6ec150f76dab86ed     221
a62134fffde90010c00be3b016823f91     221
373e67ef8787c748b8e594fdcc3b5ec1     213
                                    ...
85a30053c1c55acf4e51caa56703a3de       1
928af44ca1a07c51bb7c2ef97dc6005f       1
7d61a555d631bede45d69be5ce86b995       1
6457a113415995babc3a91d73ab67b15       1
ad2f2723c0f2eff98365d8b7c0887cd6       1
fb4c168e38198b2a6c88328ce22c6958       1
a9491819f6221c0b86e821caf4547718       1
468a0dc1fa4508d36ab955b82a6d7af9       1
1d1ec94fd8631e75e3aa357e75198f47       1
9df950088d0e25b49766a317ee256b10       1
0a058bddfd4283026528a6368c235b05       1
507db3eab1fc41f412b602a8251dc426       1
f178dc7db43399d4f0f30ee34ed3763e       1
9d73ec555f03e67ddcf417e974d87e9e       1
76ceb5800857e25331c77e04758a4db8       1
7fe3fdcad48ead3f611a0ec1fb56d5bc       1
5ac88dd492d803f30b04e6b4c20d5fc3       1
b1e1511d147f54856e4aac5601309d68       1
8ce18c335e697aacc6f71566cf3501c5       1
98804a3dcdd7b2ffa632f7ec7b7d222d       1
fd099f4695e1cf004883f70800948f54       1
946d35c65dabf4a7c7104b1e2494f3da       1
36eb03134b20fba59103068959454069       1
f76d951655f0acb965d3ef2c7c137716       1
2e8907c8dfeb74b4c706b62e8b121441       1
2d6d47cb762b1af0b59528c1d5d126ac       1
d6ceca2bf77f48b8c2b93140f6eb6e39       1
b57288f18078ae9ed58710c41f8dbc07       1
15ee72a6d92fbe9ccacc7789fe27c281       1
3d43cd4b7dcebd2b2095b53a712b3b60       1
Name: identifier_first_touch, Length: 899, dtype: int64

In [16]:
df.identifier_last_touch.value_counts()

2324dd747554bb7f8ac53cb91842976c    1767
9e200b1294b13d0d7d0eea37030b68f3    1442
c8de5cdf6dd0affa9ff766aef54d61a5    1309
9f5c22907685035ec9b4cbe80e9a89e0    1184
d30f2e8cecc1498b3466860a9b7e05c7     868
f8cb4fbb2ad1e566251ff28a98615a5a     776
ddc0f3cdfc488fa0a6f6bd02291eb443     718
a6a62db21af6c8a915976e238bb6d227     698
afba56f67eaa6decc3c358ec2fc46e90     678
56fd1e0c5925450c9a665411367101bf     612
a0e6dab88c1af71ef5f321e207bfd6d5     565
331e7316df37a1bf038cc0907ee1b7e2     508
b6d53f55ec9cf7c8d05966195488e7ef     495
83cbd569703ccd9e3e6f802a1b761f1c     365
087cb68478b8fb7d6ec150f76dab86ed     363
40c2d2269db7f7993a68c0cd4e87f385     355
502c278aef815a027b0c5f4919d07f47     349
3872e330741b4ea1b3397bd31447cba0     335
414a357b38b8e181ed557d328417a52c     305
4cf674ecdc70fb035b775e815c4db5f9     303
bf5af30b7afd3276ebddac6df51b0e5c     296
addab103ca342880f743063d6e81aad3     274
871fa13f222c321c2ce977e740db99da     267
101543900d58bc4721c508f8255a6586     253
541264e0d99c30827f0519e2a6798c2e     239
b7693d45fc15fb13131a0b6e33636d70     235
64ce63f4d41fd2ed83696f521c8a1664     234
f626d749e413582500a1dc99ec1f63b1     234
ad181828064b0c4267b9d9154a896c0b     233
07d4d4971eb7bdc4fb1057131d2b48bd     223
                                    ...
66ee18b27e726d2de3aa3c2adcdd9113       1
4e6446b53c7e4abd8f5804751eaabee8       1
2a022de1a3c045f9441758b7c126cf9f       1
8eff7de7797e5f737b18a13018b441ad       1
20d86e35a4136afe59b2427e5b596e0d       1
b168cd79e28756d59a92dcfa263dcf0f       1
85e5358b9edbc3caed3f0b264718a068       1
fc3c2959a4105bf851317d6609f90e23       1
ac86e7e99f91660e5876153cbb5538a2       1
6e007051df25b30a5991f19d378fd1a3       1
13f19ea958bcf4f044334668cc4f3233       1
10aa78844c0ad5ec3256c946c19c062e       1
bca66272ae2dbef9939fbee1a61fb560       1
d50b43458532a581d4e423c51615f05a       1
4d0eede2da31c5bb921a1f6495feedb4       1
0f42da5db9c5fca8caed7c4104123c53       1
8c7707db84eddc870acd66be9cde6ca7       1
5b8eb82a2137265ef8c0b593511c8a8a       1
c9d6b7bdcd3dce76ec83205e1a1dc299       1
d34e920eea7538616b329d01d448488e       1
d90a1f719960897fd3be7840cea5cf5b       1
3849af3f0567bb77831af8b3688dc956       1
774ebd057ebb35d4b7b3b016e3e5b0d7       1
77dc6e5d25a320f09f2dbedb10126574       1
345a95dab5b7ec278c6693035d10c6e1       1
05301f5af7ee8b1dff48ebbb980e1972       1
3a36d3e4fc11f1aafa18c942aa3a73c1       1
cbd252c8297e04306c433e3745e940d9       1
06ad8aeb9b40c9cd7aa21a8976b7985d       1
6aa1213cc8edacb4388d93419dbe1770       1
Name: identifier_last_touch, Length: 508, dtype: int64

In [17]:
df.icp_score.value_counts()

D    12762
B     4448
C     3006
A     2717
Name: icp_score, dtype: int64

In [18]:
df.lead_channel.value_counts()

Inbound    17401
Partner     5532
Name: lead_channel, dtype: int64

In [19]:
df.lead_type.value_counts()

MQL            22661
HR               270
Indicação          1
Chat Online        1
Name: lead_type, dtype: int64

In [20]:
df.country.value_counts()

BR         15642
MX          1907
CO          1739
Unknown     1410
AR           851
ES           322
PT           199
VE           131
CL           119
PE            88
US            83
EC            62
AO            50
CR            45
GT            38
PY            34
MZ            33
PA            33
BO            20
UY            19
HN            14
IT            10
CA             9
JP             8
AU             7
CV             7
SV             6
FR             6
DO             5
CH             5
GB             4
TH             4
SE             3
IE             3
PR             2
HU             2
NZ             2
MT             1
NL             1
RO             1
LU             1
IL             1
BE             1
DE             1
CU             1
ID             1
NI             1
Name: country, dtype: int64

In [21]:
print(df.dtypes)

id                        object
email                     object
created_month             object
created_date              object
lead_created_month        object
lead_created_date         object
mql_created_month         object
mql_created_date          object
sal_created_month         object
sal_created_date          object
first_touch_date          object
last_touch_date           object
account_first_touch       object
account_last_touch        object
channel_first_touch       object
channel_last_touch        object
campaign_first_touch      object
campaign_last_touch       object
identifier_first_touch    object
identifier_last_touch     object
icp_score                 object
lead_channel              object
lead_type                 object
country                   object
is_new_lead                int64
converted_to_mql           int64
is_blank_mql               int64
converted_to_sal           int64
is_a                       int64
is_b                       int64
is_c                       int64
is_d                       int64
is_abc                     int64
dtype: object

In [22]:
df.head()

,id,email,created_month,created_date,lead_created_month,lead_created_date,mql_created_month,mql_created_date,sal_created_month,sal_created_date,first_touch_date,last_touch_date,account_first_touch,account_last_touch,channel_first_touch,channel_last_touch,campaign_first_touch,campaign_last_touch,identifier_first_touch,identifier_last_touch,icp_score,lead_channel,lead_type,country,is_new_lead,converted_to_mql,is_blank_mql,converted_to_sal,is_a,is_b,is_c,is_d,is_abc
0,6dc60743324c1cf3b1a7e885a342584e,a420a5f6b1e671ad2c1b81f5a81c588c,2018-11-01,2018-11-14 15:36:03,2018-11-01,2018-11-14 15:36:03,2018-11-01,2018-11-14 15:36:03,NaN,NaN,2018-10-31 18:48:01,2018-11-14 15:36:03,Brasil,Brasil,(Other),Email,NaN,b69efb8e9f6874bf6df766d8ee6c1569,bf5651e7878fbd915fc91b2e52b58d01,db888501832798d5c37fe2b5286f1ccb,B,Inbound,MQL,BR,0,1,0,0,0,1,0,0,1
1,303e7afd55b9c83671832e8727f803de,ef5dee33403c15cc26af267d290bf93c,2018-11-01,2018-11-20 10:32:01,2018-11-01,2018-11-20 10:32:01,2018-11-01,2018-11-20 10:32:01,NaN,NaN,2018-11-20 10:32:01,2018-11-20 10:32:01,Brasil,Brasil,Email,Email,51f99c710d4486963dad6ef7411884a6,51f99c710d4486963dad6ef7411884a6,2324dd747554bb7f8ac53cb91842976c,2324dd747554bb7f8ac53cb91842976c,B,Inbound,MQL,BR,1,1,0,0,0,1,0,0,1
2,2e1f2e19c14df0869fe232b2e93384dd,48d6dcee60fe6677c55e1e4de904a278,2018-12-01,2018-12-06 15:14:59,2018-12-01,2018-12-06 15:14:59,NaN,NaN,NaN,NaN,2018-12-06 15:14:59,2018-12-06 15:14:59,Brasil,Brasil,Email,Email,c3635dec9f630b293dee199a0e70e814,c3635dec9f630b293dee199a0e70e814,9e200b1294b13d0d7d0eea37030b68f3,9e200b1294b13d0d7d0eea37030b68f3,D,Inbound,MQL,BR,1,0,0,0,0,0,0,1,0
3,1f2525d8ae56b4e160ecd810ee7240d2,cddd941ca5822851786800bad19d7b7f,2018-11-01,2018-11-07 02:57:19,2018-11-01,2018-11-07 02:57:19,NaN,NaN,NaN,NaN,2018-10-25 02:51:20,2018-11-07 02:57:19,Brasil,Brasil,Referral,Email,e3783648451a21a66da49448e78d2b51,545ce2e74ea8772b25a96364f7988803,e0de006b1096ccd756f1dac3490bd43f,afba56f67eaa6decc3c358ec2fc46e90,D,Inbound,MQL,IL,0,0,0,0,0,0,0,1,0
4,5e61d3bddf2897611558b54f215d59bf,ebdb6f0f3921582d0e0f10d3936a2f85,2018-11-01,2018-11-22 15:35:01,2018-11-01,2018-11-22 15:35:01,NaN,NaN,NaN,NaN,2018-11-22 15:35:01,2018-11-22 15:35:01,Latam,Latam,Email,Email,73ae4aa441cfa77bb7139f6f6adf8af2,73ae4aa441cfa77bb7139f6f6adf8af2,a29fa0accef2c75e169947f31c37873b,a29fa0accef2c75e169947f31c37873b,D,Partner,MQL,MX,1,0,0,0,0,0,0,1,0